@model Project4BHWII.Models.User

<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Eu4banner_2.jfif')";
</script>
@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    @*<div align="center">
            <table>
                <thead>
                    <tr>
                        <td colspan="2">Registrierungsdaten</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(u => u.Firstname, "Vorname:* ")</td>
                        <td>@Html.TextBoxFor(u => u.Firstname)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Lastname, "Nachname:* ")</td>
                        <td>@Html.TextBoxFor(u => u.Lastname, new { required = "required" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Gender, "Geschlecht: ")</td>
                        <td>@Html.EnumDropDownListFor(u => u.Gender, new { required = "required" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Birthdate, "Geburtsdatum: ")</td>
                        <td>@Html.TextBoxFor(u => u.Birthdate, new { type = "date" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Username, "Username:* ")</td>
                        <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Password, "Passwort:* ")</td>
                        <td>@Html.PasswordFor(u => u.Password, new { required = "required" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(u => u.Password2, "Passwort bitte wiederholen:* ")</td>
                        <td>@Html.PasswordFor(u => u.Password2, new { required = "required" })</td>
                    </tr>




                    <tr>
                        <td colspan="2" , style="text-align: center">
                            <input type="submit" value="absenden" id="btnSubmit" />
                            <input type="reset" value="abbrechen" id="btnReset" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">* sind Pflichtfelder</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    *@


<body id="LoginBackground">

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign Up</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/User/Registration" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" @Html.TextBoxFor(u => u.Firstname, new { required = "required", placeholder = "Vorname" })
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="text" class="form-control" @Html.TextBoxFor(u => u.Lastname, new { required = "required", placeholder = "Nachname" })
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <div class="form-control">
                                    @Html.DropDownListFor(u => u.Gender, new SelectList(Enum.GetValues(typeof(Gender))), "Geschlecht auswählen")
                                </div>
                            </div>
                            
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="date" class="form-control" @Html.TextBoxFor(u => u.Birthdate, new { type = "date", placeholder = "Birthdate" })
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control"@Html.TextBoxFor(u => u.Username, new { required = "required", placeholder = "Username" })
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="password" class="form-control"@Html.PasswordFor(u => u.Password, new { required = "required", placeholder = "Password" })
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="password" class="form-control"@Html.PasswordFor(u => u.Password2, new { required = "required", placeholder = "Password wiederholen!" })
                        </div>

                        <div class="form-group">
                            <input type="submit" value="absenden" class="btn float-right login_btn" id="btnSubmit">
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    
                </div>
            </div>
        </div>

    </div>
</body>

}

