@model Project4BHWII.Models.User

<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Eu4banner_2.jfif')";
</script>

@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    <div align="center">
        <table>
            <thead>
                <tr>
                    <td colspan="2">Registrierungsdaten</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(u => u.Firstname, "Vorname:* ")</td>
                    <td>@Html.TextBoxFor(u => u.Firstname)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Lastname, "Nachname:* ")</td>
                    <td>@Html.TextBoxFor(u => u.Lastname, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Gender, "Geschlecht: ")</td>
                    <td>@Html.EnumDropDownListFor(u => u.Gender, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Birthdate, "Geburtsdatum: ")</td>
                    <td>@Html.TextBoxFor(u => u.Birthdate, new { type = "date" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Username, "Username:* ")</td>
                    <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Password, "Passwort:* ")</td>
                    <td>@Html.PasswordFor(u => u.Password, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(u => u.Password2, "Passwort bitte wiederholen:* ")</td>
                    <td>@Html.PasswordFor(u => u.Password2, new { required = "required" })</td>
                </tr>




                <tr>
                    <td colspan="2" , style="text-align: center">
                        <input type="submit" value="absenden" id="btnSubmit" />
                        <input type="reset" value="abbrechen" id="btnReset" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">* sind Pflichtfelder</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <body id="LoginBackground">

        <div align="center">
            <h2>Login</h2>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username">

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password">
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn float-right login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="/User/Registration">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
