<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Eu4banner_2.jfif')";
</script>

@using Project4BHWII.Models


@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-md-center">Welcome</h1>

<a href='@Url.Action("newEntry", "Forum")' class="btn btn-primary">neuer Post</a>

<h2 class="justify-content-center">All Posts</h2>

@{
    if (Model != null && Model.Count > 0)
    {

        foreach (Entry u in Model)
        {
    <table>
        <thead>
        <td>Name</td>
        <td>Titel</td>
        <td>Text</td>
        <td>URL</td>
        <td>EntryType</td>
        </thead>
        <tbody>

        <td>@u.UserName</td>
        <td>@u.Titel</td>
        <td>@u.EntryText</td>
        @{
            if (u.UploadDataURL != null)
            {
                <td>@u.UploadDataURL</td>
            }
            else
            {
                <td>Es ist kein Savegame vorhanden</td>
            }
            <td>@u.EntryType</td>
        }
        
        </tbody>
        <tfoot>
            <tr colspan="8"></tr>
        </tfoot>
    </table>
        }
    }
    else
    {
        < p > Es existriert kein Post </ p >

    }
}